/* Add a black background color to the top navigation */
.topnav {
  background-color: #800000;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float:  left;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #2a52be;
  color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #2a52be;
  color: white;
}

h1, h2{
  background-color: #000000;    /* Light gray */
  text-align: center;
  color: white;
  font-size: 45pt;
}

p{
  background-color: #DDE0E3;    /* Light gray */
  text-align: center;
  color: white;
}
h3 {
  text-align: justify left;
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30pt;
}
.thumbnail:hover {
    position:relative;
    top:-25px;
    left:-35px;
    width:300px;
    height:auto;
    display:block;
    z-index:999;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between; <!-- Arranges along the vertical axis, b/c column   -->
    align-items: center;            <!-- Arranges along the horizontal axis, b/c column -->
}
